{{ define "main" }}
    <div class="site-main__inner container">
        <p>mi nombre es Joan. espero estes bien.</p>
        <p>la selección natural es demasiado cruel xd.</p>
        <p>soy graduado en ingeniería en software. actualmente no ejerzo el cargo de ingeniero o algún puesto afín. ahorita trabajo como collector.</p>
        
        <br />

        <p>me gusta jugar baloncesto, pero ya no entreno tan seguido. además, he perdido mucha confianza en mis habilidades. en algún momento soñe con jugar profesionalmente, pero ya a este punto no vale la pena.</p>
        
        <br />

        <p>me gusta mucho la música, más que todo escucharla. influye mucho en mi estado de ánimo. últimamente escucho mucho reggaeton, porque me mantiene en un buen humor. también toco algunos instrumentos como la guitarra y el clarinete. con el clarinete empecé hace poco y la verdad me parece muy cool; mi hermano toca el clarinete muy bien.</p>

        <br />

        <p>me gustan los videojuegos, especialmente aquellos que son competitivos. juego league of legends, pero ya no lo juego mucho. también me gusta el ajedrez.</p>

        <br />

        <p>en un futuro me gustaría poder tener una casa propia en medellín o en algún municipio del sur. me gusta bastante medellín, más que todo, porque ya he hecho algunos amigos y ya me siento cómodo aquí. también espero poder tener un trabajo estable y agradable.</p>

        <br />

        <p>espero poder encontrar una compañera de vida y tener hijos.</p>

        <br />

        <p>en general, espero que mi vida siga su curso y que encuentre la felicidad.</p>
    </div>
{{ end }}